/*KEYFRAMES*/
@keyframes header-link {
    from{font-size: 1em;}
    to{font-size:1.05em; color: rgb(108, 108, 255); text-decoration: underline;}
}

/*STYLES*/
#offcanvas {
    color: rgb(239, 239, 239);
    background-color: rgb(46, 46, 46);
}

#offcanvas-header-styling {
    border-bottom: 1px solid rgba(129, 129, 129, .7);
    font-size: 1.5em;
}

#header-btn-close {
    background-color: rgb(239, 239, 239);
    border: 1px solid rgba(129, 129, 129, .7);
    font-size: .7em!important;
}

#offcanvas-body-styling {
    background-color: rgb(36, 36, 36);
    border: 1px solid rgba(129, 129, 129, .7);
    border-radius: 5px;
    margin: 5px;
    padding: 5px 0px;
    color: rgb(208, 208, 208);
}

#offcanvas-body-styling a {
    font-size: 1em;
    color: rgb(134, 134, 255);
    text-decoration: none;
}

#offcanvas-body-styling a:hover {
    font-size: 1.1em;
    animation: header-link .3s forwards;
}

#offcanvas-body-styling ul {
    border-bottom: 1px solid rgba(129, 129, 129, .7);
    list-style: none;
    padding: 15px 15px;
}

#about-me {
    color: rgb(197, 197, 197);
    font-size: 1.3em;
    width: 100%;
    border-bottom: 1px solid rgba(129, 129, 129, .7);
}

#about-me p {
    padding: 5px 15px 0px 15px;
}